

#contact-input-row {
    font-size: 1.3rem;
    height: auto;
    padding-bottom: 2rem;
}

#call-btn, #contact-send-btn {
    height: 3.2rem;
    width: 21rem;
    border: none;
    border-radius: 10px;
    background-color:  #1875d1;
    outline: none;
    font-size: 1.3rem;
    color: #fff;
}

#call-btn:hover {
    transform: scale(1.01);
    box-shadow: 0 4px 4px rgb(109, 109, 109)
}

#placeholder-option {
    display: none;
}

textarea {
  padding-left: 0.8rem;
  outline: none;
  font-size: 1.3rem;
  border: #00000088 2px solid;
  border-radius: 10px;
  font-family: "Raleway", sans-serif;
  margin-bottom: 1rem;
}