

.orders-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.orders {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    width: 20rem; 
    height: 5.5em;  
    background-color: lightseagreen;
    margin: 0.5em 0em;
    border-radius: 10px; 
    
}

.orders-header {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.past-orders {
    background-color: lightslategrey;
}

.active-orders {
    color: white;
    background-color: #1875d1;
}

.orders h3 {
    margin-left: 0.5em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.orders h4 {
    margin: 0em 0.5em;
}

#cancel-order-btn {
    display: inline-block;
    margin-left: 11em;
    height: 60%;
    border: none;
    font-family: "Raleway", sans-serif;
    
}

#orders-footer {
    display: flex;
    justify-content: center;
    margin-left: 3em;
    
}

