.prices-btns {
  height: 3.2rem;
  width: 9rem;
  cursor: pointer;
  color: #fff;
  border: none;
  background-color: #666666;
  font-family: "Raleway", sans-serif;
  font-size: 1.3rem;
  font-weight: 300;
  border-radius: 50px;
  margin: 0.5%;
  outline: none;
}

.prices-btns-clicked {
  background-color: #1875d1;
  transform: scale(1.07);
  box-shadow: 0 4px 4px rgb(109, 109, 109)
}

.prices-text {
  background-color: #ebebeb;
  padding: 0.5rem;
  text-align: left;
  margin: 4% auto;
  width: 95%;
  border: 1px #1875d1 solid;
  border-radius: 3px;
}
