.rights-button-element {
    border-radius: 10px;
    font-family: "Raleway", sans-serif;
    font-size: 1.3rem;
    font-weight: 300;
    color: #fff;
    background-color: #1875d1;
    margin-bottom: 2%;
    border: none;
    height: 5rem;
    width: 20rem;
    outline: none;
}

#text-row {
    
    padding-right: 0.5rem;
    padding-left: 0.5rem;
  }