@import url("https://fonts.googleapis.com/css?family=Raleway|Roboto&display=swap");
body {
  height: 100%;
  font-family: "Raleway", sans-serif;
  margin: 0;
  overflow: hidden;
  background: linear-gradient(135deg, #6df7b2 0%, #fff 100%);
}

.row {
  height: 30vh;
}
.container-fluid {
  height: 100vh;
  text-align: center;
  overflow-y: auto;
  overflow-x: hidden;
  /* background: rgba(253, 253, 253, 0.425);*/
}

*::-webkit-scrollbar {
  width: 0.6rem;
  background-color: #1875d193;
  border-image-repeat: 50px;
}

*::-webkit-scrollbar-thumb {
  background-color: #1875d1;
  border-radius: 50px;
 
}

*::-webkit-scrollbar-track {
  background-color: transparent;
  border-radius: 50px;
}

#title-row {
  text-align: center;
  padding-top: 3rem;
  font-size: 1.3rem;
}

.slide-up-enter-active {
  animation: slide-up .2s;
}
.slide-up-leave-active {
  animation: slide-up .2s reverse; 
}

.overlay-fade-enter-active {
  animation: overlay-fade .1s;
}

.overlay-fade-leave-active {
  animation: overlay-fade .1s reverse;
}

/* PLACEHOLDER */
::-webkit-input-placeholder {
  color: #000;
  opacity: 0.4;
  -webkit-transition: opacity 0.35s ease-in-out;
  transition: opacity 0.35s ease-in-out;
}

/* PLACEHOLDER HOVER */
:hover::-webkit-input-placeholder {
  opacity: 0.75;
  -webkit-transition: opacity 0.35s ease-in-out;
  transition: opacity 0.35s ease-in-out;
}

/*PLACEHOLDER FOCUS*/
:focus::-webkit-input-placeholder {
  opacity: 0;
  -webkit-transition: opacity 0.35s ease-in-out;
  transition: opacity 0.35s ease-in-out;
}

@keyframes slide-up {
  0% {
    top: 300%; 
  }
  100% {
    top: 2px
  }
}

@keyframes overlay-fade {
  0% {
    background-color: #00000000;
  }
  100% {
    background-color: #00000070;
  }
}

@media (min-width: 1025px) {
  .container {
    border-right: 2px solid #1875d1;
    border-left: 2px solid #1875d1;
  }
}

