@import url("https://fonts.googleapis.com/css?family=Raleway|Roboto&display=swap");

body {
  height: 100%;
  font-family: "Raleway", sans-serif;
  margin: 0;
  overflow: hidden;
  background-image: url("Test6.svg");
  background-position-x: right;
  background-position-y: center;
  background-repeat: no-repeat;
  background-color: #c6e1eb;
  background-size: cover;
}

.row {
  height: 30vh;
}
.container-fluid {
  height: 100vh;
  text-align: center;
  overflow-y: auto;
  overflow-x: hidden;
  /* background: rgba(253, 253, 253, 0.425);*/
}

.dark-mode-toggler {
  height: 2.5rem;
  width: 2.5rem; 
  background-color: #000000;
  border-radius: 50px;
  position: relative;
}

.dark-mode-toggler-dark {
  height: 2.5rem;
  width: 2.5rem; 
  background-color: #e41111;
  border-radius: 50px;
  position: relative;
}

select {
  height: 3.2rem;
  width: 21rem;
  color: white;
  font-size: 1.3rem;
  background-color: #1875d1;
  border: none;
  border-radius: 10px;
  outline: none;
  padding: .2rem;
  padding-left: .5rem;
}

input{
  width: 21rem;
  line-height: 3.2rem;
  height: 3.2rem;
  padding-left: 0.8rem;
  outline: none;
  font-size: 1.3rem;
  border: #00000088 2px solid;
  border-radius: 50px;
}
textarea {
  padding-left: 0.8rem;
  outline: none;
  font-size: 1.3rem;
  border: #00000088 2px solid;
  border-radius: 10px;
  font-family: "Raleway", sans-serif;
}

 input:hover, textarea:hover {
  border-color: #000000a8;
  transition: 0.35s ease-in-out;
}

input:focus, textarea:focus {
  border-color: #000000;
}

*::-webkit-scrollbar {
  width: 0.6rem;
  background-color: #1875d193;
  border-image-repeat: 50px;
}

*::-webkit-scrollbar-thumb {
  background-color: #1875d1;
  border-radius: 50px;
 
}

*::-webkit-scrollbar-track {
  background-color: transparent;
  border-radius: 50px;
}

#title-row {
  text-align: center;
  padding-top: 3rem;
  font-size: 1.3rem;
}

.slide-up-enter-active {
  animation: slide-up .2s;
}
.slide-up-leave-active {
  animation: slide-up .2s reverse; 
}

.overlay-fade-enter-active {
  animation: overlay-fade .1s;
}

.overlay-fade-leave-active {
  animation: overlay-fade .1s reverse;
}

.popUp-enter-active {
  animation: popUp .8s;
}

.popUp-leave-active {
  animation: popUp .8s reverse;
}

/* PLACEHOLDER */
::-webkit-input-placeholder {
  color: #000;
  opacity: 0.4;
  -webkit-transition: opacity 0.35s ease-in-out;
  transition: opacity 0.35s ease-in-out;
}

/* PLACEHOLDER HOVER */
:hover::-webkit-input-placeholder {
  opacity: 0.75;
  -webkit-transition: opacity 0.35s ease-in-out;
  transition: opacity 0.35s ease-in-out;
}

/*PLACEHOLDER FOCUS*/
:focus::-webkit-input-placeholder {
  opacity: 0;
  -webkit-transition: opacity 0.35s ease-in-out;
  transition: opacity 0.35s ease-in-out;
}

@keyframes slide-up {
  0% {
    top: 300%; 
  }
  100% {
    top: 2px
  }
}

@keyframes popUp {
  0% {
    
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes overlay-fade {
  0% {
    background-color: #00000000;
  }
  100% {
    background-color: #00000070;
  }
}

@media (min-width: 1025px) {
  .container-fluid {

  }
}

.dark {
  background-color: #332d2d;
  color: white;
  transition: 1s ease;
  background-image: url("Test6Dark.svg");
}

.back-to-light {
  transition: 1s ease;
}

.dateCells {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 3.5em;
  height: 5.1em;
  min-width: 3em;
  min-height: 5em;
  margin: .5em .5em 0 .5em;
  background-color: #95E3AD;
  border: 2px solid #1875d1;
  border-radius: 10px;
  margin-bottom: 5px;
}

.dateCells:hover {
  transform: scale(1.1);
  border: 1px solid #1875d1;
  border-radius: none;
  
  
}

.dateCells-dark {
  background-color: #1875d1;
}

#calendar-container {
  display: flex;
  justify-content: space-between;
  overflow-x: scroll;
  overflow-y: hidden;
}

#calendar-container::-webkit-scrollbar {
  height: 0.2rem;
  background: none;
}

#hours-container {
  margin: 1em auto;
  width: 90%;
  height: 13em;
  /*background-color: darkgrey;*/
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.bookedHours {
  opacity: 0.3;
}

#hours-wrapper {
  list-style-type: none;
  width: 90%;
  height: 50%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  
}

#hours-wrapper li {
  height: 30%;
  width: 30%;
  color: white;
  background-color: #1875d1;
  margin: .3em 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

#confirmation-modal, #confirmed-order-modal {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 50%;
  width: 95%;
  top: 25%;
  left: 0;
  right: 0;
  margin: 0 auto;
  background-color: rgb(236, 240, 240);
  border: 2px solid #1875d1;
  border-radius: 2%;
}

#removable-fader, #persistent-fader {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  background-color: black;
  opacity: .3;

}

#order-conf-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 4rem;
  width: 50%;
  cursor: pointer;
  color: #fff;
  border: none;
  background-color: #1875d1;
  font-family: "Raleway", sans-serif;
  font-size: 1.3rem;
  border-radius: 10px;
  margin: 2%;
  outline: none;
  text-decoration: none;
}

.cellSelected {
  background-color: #1875d1;
  color: white;
  transition: background-color .3s;
}

.footer-menu {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #1875d1;
  color: white;
  text-align: center;
  min-height: 3em;
}

.footer-menu .fas {
  font-size: 1.3em;
}

.menu-links {
  text-decoration: none;
  color: white;
}

